.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.details-img img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;

}

.details-info {
    text-align: center;
}

.details-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.details-price {
    font-size: 1.5rem;
    color: #1d59ae;
    margin-bottom: 10px;
}

.details-description {
    font-size: 1rem;
    color: #555;
}

.details-not-found {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    margin-top: 20px;
}
