.add{
    width: 70%;
    margin-left:max(5vw,25px) ;
    margin-top: 50px;
    font-size: 16px;
    color: rgb(74, 72, 70);
}
.add form{
    gap: 20px;
}
.add-img img{
    width: 120px;
}
.add-product-name, .add-product-desc{
    width: max(40%,280px);
}
.add-product-name input,.add-product-description textare{
    padding: 10px;
}
.add-catagory-price{
    display: flex;
    
    gap: 20px;
}
.add-catagory-price select, .add-catagory-price input{
    max-width: 120px;
    padding: 10px;

}
.add-button{
    max-width: max-content;
    justify-content: center;
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(20, 62, 141);
    cursor: pointer;
    border-radius: 10px;
}
