* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(162, 217, 238);
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-holder {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 10px;
}

.navbar .logo {
  width: 98px;
  object-fit: cover;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #0B0E25;
}

.navbar-menu a,
.navbar-menu button {
  background-color: transparent;
 
  color: #0B0E25;
  padding: 8px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  font-style: bold;
  cursor: pointer;
}

.navbar-menu a:hover,
.navbar-menu button:hover {
  
  transform: scale(1.05);
}

.navbar-menu a.active,
.navbar-menu button.active {
  
  border: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Mobile Menu Button */
.mobile-menu-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Cart badge */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 5px 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  background-color: white;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-profile-dropdown li:hover {
  color: green;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .navbar .logo {
    width: 90px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }

  /* Mobile Menu Toggle Button */
  .mobile-menu-button {
    display: block;
    font-size: 30px;
  }

  /* Hide menu by default */
  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: rgb(162, 217, 238);
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 20px;
    gap: 10px;
    width: 150px;
    border-radius: 10px;
  }

  /* Show menu when active */
  .navbar-menu.show {
    display: flex;
  }
}

@media (max-width: 750px) {
  .navbar-menu a,
  .navbar-menu button {
    padding: 8px 10px;
  }
}
